extends: default
ignore: |
  .tox
rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    min-spaces-from-content: 1  # prettier compatibility
  truthy:
    check-keys: false
  document-start: disable
  line-length: disable
